<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img
          class="card-img-top"
          src="https://i.dell.com/is/image/DellContent//content/dam/global-asset-library/Products/Notebooks/Inspiron/15_5508_non-touch/in5508nt_cnb_00055lf110_gr.psd?fmt=pjpg&pscan=auto&scl=1&hei=402&wid=668&qlt=95,0&resMode=sharp2&op_usm=1.75,0.3,2,0&size=668,402"
        />
        <div class="card-body">
          <section>
            <p>Brand:</p>
            <p>RAM:</p>
            <p>ROM:</p>
            <p>Processor:</p>
          </section>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
